<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nemator.needle" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme2" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.authentication.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme2" >
        </activity>
        <activity
            android:name=".view.home.HomeActivity"
            android:label="@string/title_activity_haystack"
            android:theme="@style/AppTheme2" >
        </activity>
        <activity
            android:name=".view.haystack.HaystackActivity"
            android:theme="@style/AppTheme2" >
        </activity>
        <activity
            android:name=".view.settings.AppSettingsActivity"
            android:label="@string/title_activity_app_settings"
            android:parentActivityName=".view.home.HomeActivity"
            android:theme="@style/AppTheme2" >
        </activity>
        <activity
            android:name=".view.haystack.HaystackUserActivity"
            android:label="@string/title_activity_haystack_user"
            android:theme="@style/AppTheme2" >
        </activity>

        <service
            android:name=".service.NeedleLocationService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name="com.nemator.broadcastReceiver.LocationServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
    </application>

</manifest>
