<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nemator.needle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.nemator.needle.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.nemator.needle.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk xmlns:tools="http://schemas.android.com/tools"
        tools:overrideLibrary="android.support.v14.preference" />

    <application
        android:name=".Needle"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZS_9kxDcH5hrUZx3TdD9YP9HhU3vAEF4" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AuthenticationActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".service.NeedleLocationService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".broadcastReceiver.LocationServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver android:name=".broadcastReceiver.PostLocationRequestAlarm" />

        <!-- For receiving GCM message and registration success -->
        <receiver
            android:name=".gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.nemator.needle.gcm" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GCMIntentService" />

        <activity
            android:name=".activities.CreateHaystackActivity"
            android:label="@string/create_haystack"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.CreateNeedleActivity"
            android:label="@string/create_needle"
            android:noHistory="true"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f888d603496f378f655a5065ba9fb53cce72f37a" />

        <activity
            android:name=".activities.HaystackActivity"
            android:label="Haystack"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.NeedleActivity"
            android:label="Location Sharing"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.UserSelectActivity"
            android:label="Select Users"
            android:parentActivityName=".activities.HaystackActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:label="Select Users"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.TransparentStatus" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.HelpSupportActivity"
            android:label="@string/title_helpAndSupport"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.FaqActivity"
            android:label="@string/faq"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.facebook.FacebookAlbumsActivity"
            android:label="@string/facebook_albums"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.facebook.FacebookAlbumActivity"
            android:label="@string/select_fb_picture"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>